body {
	background-color: #f3f2e7;
	font-family: 'Noto Sans KR', sans-serif;
}

.all-books {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.book {
    position: relative;
    width: 400px;
    margin-top: 10px;
    padding: 15px;
    background-color: white;
    text-align: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px 10px #888888;
    cursor: pointer;
}

.book:hover {
    background-color: #af9e7e;
    color: white;
}

.book-cover {
    align-self: center;
}

.book-title {
    font-weight: bolder;
    font-size: larger;
}

.book-summary {
    overflow-y: scroll;
    text-align: left;
}

.book-author {
    font-size: large;
}

.book-inspect-bg {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top:0;
    background: rgba(0,0,0,0.5);
}

.book-inspect {
    position: relative;
    width: 75%;
    margin: auto;
    background-color: white;
    text-align: center;
    height: 75%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 1px 2px 10px #888888;
}

.book-inspect .book-cover {
    height: 50%;
    align-self: center;
}

.book-inspect-close {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
}

.book-inspect .book-summary {
    padding-left: 50px;
}

.book-rank {
    position: absolute;
    left: 5;
    top: 5;
    font-weight: bold;
    font-size: large;
}

#showMore {
    padding: 8px 25px 5px 25px;
    margin: 3vh auto 3vh auto;
    background: black;
    border-radius: 20px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    height: 60px;
    text-align: center;
    width: 20vw;
}

#centerButton {
    text-align: center;
}

#showMore:hover {
    background: rgb(53, 53, 53);
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
}