.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.row {
    margin-left: 0;
}

body {
    padding: 0 ! important;
	font-family: 'Noto Sans KR', sans-serif;
    background-image: url(assets/library_bg.jpeg);
}

#main-container {
    margin: 5% 10% 5% 10%;
    background-color: white;
    padding-bottom: 9vh;
}

ul {
	margin: 0 auto 0 auto;
	padding: 0;
}



ul li {
	list-style-type: none;
	padding: 11px 0 11px 13px;
    margin: 2px 0 2px 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul li:hover {
	background-color: rgba(100, 100, 100, 0.1);
    border-radius: 8px;
}

#candidate-column {
    height: 26vh;
    display: flex;
    align-items: center;
    background-color: rgba(61, 47, 35, 0.2);
    border-radius: 15px;
    overflow-x: scroll;
    margin: 0 auto 2vh auto;
}

#candidate-column ul {
    padding: 10px;
    display: contents;
}

#candidate-column ul li {
    cursor: pointer;
}

#list-container{
	margin-top: 1%;
    padding-left: 2%;
}

.user-section:hover > .remove-user-button {
    display: block;
    position: absolute;
    top: -15px;
    left: -15px;
}

.remove-user-button {
    /* position: absolute;
    top: -15px;
    left: -15px; */
    display: none;
}

.remove-user-button:hover {
    cursor: pointer;
}

.user-section {
    position: relative;
    max-height: 450px;
    width: 350px;
    min-width: 350px;
    margin: 30px;
    box-shadow: 1px 2px 10px #888888;
    background-color: #FAFAFA;
    border-radius: 10px;
    padding-bottom: 10px;
}

.list-title {
	background-color: #af9e7e;
	color: #ffffff;
	padding: 2% 1% 2% 5%;
    flex-direction: row;
    width: 100%;
    align-items: space-between;
    flex-direction: row;
    border-radius: 10px 10px 0px 0px;
}

.book-area {
    width: 89%;
    height: 175px;
    margin: 6% auto 3% 20px;
    text-overflow: ellipsis;
    overflow-x: auto;
    overflow-y: scroll;
}

.book-area > input {
    border:0;
    outline:0;
    width: 90%;
    border-bottom: 1px solid black;
    background: transparent;
    display: inline;
    margin-left: 15px;
}

.book-area > input:focus {
    border-bottom: 1px solid black;
    background: transparent;
}

.author-area {
    width: 89%;
    height: 170px;
    margin: 6% auto 3% 20px;
    text-overflow: ellipsis;
    overflow-x: auto;
    overflow-y: scroll;
}

.author-area > input {
    border:0;
    outline:0;
    width: 90%;
    border-bottom: 1px solid black;
    background: transparent;
    display: inline;
    margin-left: 15px;
}

.author-area > input:focus {
    border-bottom: 1px solid black;
    background: transparent;
}


.book-item {
    padding-bottom: 5px;
    width: 100%;
    font-size: 12pt;
    font-weight: bold;
}

.rating {
    margin-top: 10px;
}

.rating > p {
    font-size: 8pt;
    font-weight: 300;
    /* margin-top: auto; */
    margin-bottom: 0;
}

input[type=range] {
    -webkit-appearance: none;
    margin: 5px 10px 0 10px;
    height: 10px;
    border-radius: 5px;  
    opacity: 0.7;
    background: #d3d3d3;
    -webkit-transition: .2s;
    transition: opacity .2s;
    outline: none;
}

input[type=range]:hover {
    opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #1d1d1d;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #1d1d1d;
    cursor: pointer;
}

.rating-output {
    margin-left: 20%;
    margin-top: -4px;
    font-size: 11pt;
    color: #383838;
}

strong:first-child {
    font-size: 25pt;
    margin-right: 2%;
}

.author-results {
    padding-top: 10px;
    padding-bottom: 10px;
}

.clear-float {
    clear: both;
}

.delete-button {
    cursor: pointer;
    color: rgb(190, 16, 16);
    right: 0;
    margin-right: 3%;
}

#delete-button:hover {
    cursor: pointer;
    color: red;
}

.item-toggle {
	text-decoration: line-through;
	color: darkgrey;
	font-style: italic;
}

.col-12, .col-sm-10, .col-md-8, .col-lg-6, .col-1 {
	padding: 0;
}
.container {
	padding: 0;
}

.plus-button {
	position: relative;
    cursor: pointer;
}

#top-row {
    padding: 6vh 0 25px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 18px;
    font-weight: bolder;
}

#top-row > div {
    margin-left: 40px;
}


#top-row > div > span {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

#submit-button {
    padding: 8px 25px 5px 25px;
    margin: 3vh auto 0 auto;
    background: black;
    border-radius: 20px;
    color: white;
    font-size: 20pt;
    font-weight: bold;
    height: 60px;
    text-align: center;
    width: 30vw;
}

#submit-button:hover {
    background: rgb(53, 53, 53);
    cursor: pointer;
    box-shadow: 0px 0px 10px #888888;
}

#genre-row  {
    padding: 30px 0 5vh 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#genre-row span {
    font-size: 25pt;
    font-weight: bold;
}

.genre-row {
    margin-top: 20px;
    justify-content: space-between;
}

.generic-genre {
    padding: 9px 5px 9px 5px;
    margin: 5px 5px 5px 5px;
    font-size: 10pt;
    font-weight: bold;
}

.available-block {
    background: rgb(211, 211, 211);
    border-radius: 10px;
    color: black;
}

.available-block:hover {
    /* background: rgb(33, 122, 30); */
    background: #7A6644;
    color: white;
    cursor: pointer;
}

#must-not-have-genre .available-block:hover {
    /* background: rgb(146, 26, 26); */
    background: #7A6644;
    color: white;
    cursor: pointer;
}

.must-have-selected {
    /* background: rgb(33, 122, 30); */
    background: #7A6644;
    color: white;
}

.must-not-have-selected {
    /* background: rgb(146, 26, 26); */
    background: #7A6644;
    color: white;
}

.all-books {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.author {
    height: 200px;
    min-width: 200px;
    margin: 10px 10px 10px 10px;
    padding: 15px;
    padding-top: 11vh;
    font-size: 15pt;
    font-weight: bold;
    background-color: rgb(251 247 236);
    text-align: center;
    border-radius: 10px;
}

.author:hover {
    background-color: #af9e7e;
}

.book {
    height: 200px;
    min-width: 210px;
    margin: 10px 10px 10px 10px;
    padding: 15px;
    background-color: rgb(251 247 236);
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border-radius: 10px;
    font-size: 9pt;
}

.book:hover {
    background-color: #af9e7e;
    color: white
}

.book:hover {
    cursor: pointer;
}

.book-cover {
    align-self: center;
}

.book-title {
    font-size: larger;
}

.book-summary {
    overflow-y: scroll;
    text-align: left;
}

.book-author {
    font-size: large;
}
a:hover {
    color: inherit;
    text-decoration: none; /* no underline */
}

.book-link {
    color: inherit;
    text-decoration: inherit;
}

#user-block {
    /* display: inline-grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 600px);
    grid-gap: 10px; */
    display: flex;
    align-items: center;
    background-color: rgba(61, 47, 35, 0.2);
    border-radius: 15px;
    margin: 0 auto 4vh auto;
    /* flex-direction: row;
    overflow: scroll; */
}

#user-block-container {
    display: flex;    
    overflow-x: scroll;
    align-items: center;
}

#add-user-button {
    /* position: fixed; */

    /* right: 3vw;
    bottom: 5vw; */
    /* margin-top: 50%; */
    border-radius: 100%;
    /* z-index: 100; */
}

#add-user-button:hover {
    box-shadow: 0px 0px 20px #888888;
    cursor: pointer;
}