<!DOCTYPE html>
<html>
<head>
    <title>BookClub</title>
	<meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/assets/logo.png"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../static/select.css">
</head>
<body>
    <div id="input-container">
        <header>
            <img src="/static/assets/logo.png" alt="Logo" width="78" height="60">
            <div>
                <span><span style="color: #957F5A">Book </span>Club</span>
                <br/>
                Enter in books and authors each member likes or dislikes, and we’ll find books you’ll all enjoy!
            </div>
        </header>
    
        <section id="user-inputs" class="container-fluid">

            <!-- -------- Search results (candidates) -------- -->
            <div id="candidate-block" class="col-10">
            </div>

            <!-- ---------- User cards ---------- -->
            <div id="user-block" class="col-10">
                <div id="user-block-container">
                    <div id="add-user-button">
                        <img src="/static/assets/add_icon.png" alt="Add User" width="100" height="100">
                    </div>
                </div>
            </div>
        </section>
    
        <!-- ---------- Genre Filter ---------- -->
        <section id="genre-row">
            <!-- 'mystery, thriller, crime', 'fantasy, paranormal', 'non-fiction', 'fiction', 'children', 'history, historical fiction, biography','young-adult','romance' -->
            <span>Genre Filter (optional)</span>
            <div id="must-have-genre" class="genre-row">
                <div>Must be one of :</div>
                <div class="row">   
                    <div class="generic-genre available-block">mystery, thriller, crime</div>
                    <div class="generic-genre available-block">fantasy, paranormal</div>
                    <div class="generic-genre available-block">non-fiction</div>
                    <div class="generic-genre available-block">fiction</div>
                    <div class="generic-genre available-block">children</div>
                    <div class="generic-genre available-block">history, historical fiction, biography</div>
                    <div class="generic-genre available-block">young-adult</div>
                    <div class="generic-genre available-block">romance</div>
                </div>
            </div>
            <div id="must-not-have-genre" class="genre-row">
                <div>Must not be :</div>
                <div class="row">   
                    <div class="generic-genre available-block">mystery, thriller, crime</div>
                    <div class="generic-genre available-block">fantasy, paranormal</div>
                    <div class="generic-genre available-block">non-fiction</div>
                    <div class="generic-genre available-block">fiction</div>
                    <div class="generic-genre available-block">children</div>
                    <div class="generic-genre available-block">history, historical fiction, biography</div>
                    <div class="generic-genre available-block">young-adult</div>
                    <div class="generic-genre available-block">romance</div>
                </div>
            </div>
        </section>

        <!-- ---------- Submit Button ---------- -->
        <section id="submit-button">Submit</div>
    </div>
    

	<script>
        function addUser() {
            let user_section = $("<section class='user-section'>").html("<img class='remove-user-button' src='/static/assets/delete_icon.png' alt='X' width='40' height='40'>");
            user_section.append($("<div class='user-title'><strong>User</strong></div>"));
            user_section.append($("<div class='book-area'>").html("<input type='text' class='new-input book-input' placeholder='Add books here:'><ul>"));
            user_section.append($("<div class='author-area'>").html("<input type='text' class='new-input author-input' placeholder='Add authors here:'><ul>"));
            $(user_section).insertBefore("#user-block-container #add-user-button");
        };

        $("#add-user-button").on('click', function() {
            addUser();
        });

        // Initial setup - add default number of user
        let num_users = 2;
        for (let i = 0; i < num_users; i++) {
            addUser();
        }

        // Remove corresponding user on remove button clicked
        $(document).on("click", ".remove-user-button", function() {
            $(this).parent().fadeToggle(400, function() {
				$("#candidate-block").html("");
				$(this).remove();
			});
        });

        let currentUser = 0;// index of current user searching

        let ifSearchBook = true;// bool to determine the type of searching

        // Adding list of matching book into the search results
        $(document).on("input", ".book-input", function() {
            // clear book & author search input
            var newInput = $(this).val().trim();
            currentUser = $(this).parent().parent().index();

            $(".user-section").each(function() {
                let index = $(this).index();
                if(index != currentUser){
                    $(".user-section").eq(index).children(".book-area").children("input").val("");
                }
                $(this).children(".author-area").children("input").val("");
            });

            $("#candidate-block").html("");
            let books = new Array();
            $.get("/booknames", {partial: newInput}).done(function(value) {
                booksMap = null;
                booksMap = jQuery.parseJSON(value);
                $("#candidate-block").html("");
                books = new Array();
                let num_results = 10;
                booksMap.length > 10 ? num_results = 10 : num_results = booksMap.length;
                for (let i = 0; i < num_results; i++) {
                    books.push(booksMap[i]["string"]);
                };
                $("#candidate-block").html("");
                let candidates_column = $("<ul>");
                let column_size = booksMap.length > 10 ? 10 : booksMap.length // limit the number of results to be 10
                for (let i = 0; i < column_size; i++) {
                    var book_display = $("<div class=\"book\" id=\"" + booksMap[i]['work_id'] + "\">");
                    var img = $("<img class=\"book-cover\"src=\"" + booksMap[i]['image'] + "\">");
                    book_display.append(img);
                    var title = $("<h2 class=\"book-title\">");
                    var bookTitle = booksMap[i]['string'].split("\"")[1];
                    title.append(bookTitle);
                    book_display.append(title);
                    candidates_column.append(book_display);
                }
                $("#candidate-block").append(candidates_column);
            });
        });

        // Adding list of authors into the search results
        $(document).on("input", ".author-input", function() {
            // clear book & author search input
            var newInput = $(this).val().trim();
            currentUser = $(this).parent().parent().index();
            console.log("Current User: " + currentUser);
            ifSearchBook = false;
            console.log("Current search: " + ifSearchBook);

            $(".user-section").each(function() {
                let index = $(this).index();
                if(index != currentUser){
                    $(".user-section").eq(index).children(".author-area").children("input").val("");
                }
                $(this).children(".book-area").children("input").val("");
            });

            $("#candidate-block").html("");
            let books = new Array();
            $.get("/authornames", {partial: newInput}).done(function(value) {
                authorsMap = jQuery.parseJSON(value);
                $("#candidate-block").html("");
                let candidates_column = $("<ul>");
                let column_size = authorsMap.length > 10 ? 10 : authorsMap.length // limit the number of results to be 10
                for (let i = 0; i < column_size; i++) {
                    candidates_column.append($("<li class=\"author\" id=\"" + authorsMap[i]['author_id'] + "\">").html(authorsMap[i]["name"]));
                }
                $("#candidate-block").append(candidates_column);
            });
        });

        // Add selected book into the last user's book list
        $(document).on("click", "#candidate-block .book", function() {
            let bookName = $(this).children("h2").html();
            console.log(bookName);
            let bookWorkID = $(this).attr("id");

            let userBookList = new Array();
            $(".user-section").eq(currentUser).children(".book-area").children("ul").children("li").children(".book-item").each(function() {
                userBookList.push($(this).attr("id"));
            });

            if (!userBookList.includes(bookWorkID)){
                let li_input = $("<li>");
                li_input.append($("<div class='book-item' id=\'" + bookWorkID + "\'>")
                    .html("<span class=\"delete-button\"><img src=\"/static/assets/cross_icon.png\" alt='X' width='25' height='25'></span>")
                    .append(bookName));
                li_input.append($("<div class='row rating'>")
                    .html("<p>Hate</p><input type='range' value='5' min='1' max='5' step='1' oninput='this.nextElementSibling.nextElementSibling.value = this.value'><p>Love</p><output class='rating-output'>5</output>"));
                $(".user-section").eq(currentUser).children(".book-area").children("ul").append(li_input);
                $(".user-section").eq(currentUser).children(".book-area").children("input").val("");
                $("#candidate-block").html("");
            } else {
                alert("Book already in list");
            }
        });

        // Add selected author into the last user's author list
        $(document).on("click", "#candidate-block .author", function() {
            let authorName = $(this).html();
            console.log(authorName);
            let authorID = $(this).attr("id");
            console.log(authorID);

            let userAuthorList = new Array();
            $(".user-section").eq(currentUser).children(".author-area").children("ul").children("li").children(".author-item")
                .each(function() {
                    userAuthorList.push($(this).attr("id"));
            });

            if (!userAuthorList.includes(authorID)){
                let li_input = $("<li>");
                li_input.append($("<div class=\"author-item\" id=\'" + authorID + "\'>")
                    .html("<span class=\"delete-button\"><img src=\"/static/assets/cross_icon.png\" alt='X' width='25' height='25'></span>")
                    .append(authorName));
                li_input.append($("<div class='row rating'>")
                    .html("<p>Hate</p><input type='range' value='5' min='1' max='5' step='1' oninput='this.nextElementSibling.nextElementSibling.value = this.value'><p>Love</p><output class='rating-output'>5</output>"));
                $(".user-section").eq(currentUser).children(".author-area").children("ul").append(li_input);
                $(".user-section").eq(currentUser).children(".author-area").children("input").val("");
                $("#candidate-block").html("");
            } else {
                alert("Author already in list");
            }
        });

        // Remove book/author item from user card
		$(document).on("click", ".delete-button", function() {
			$(this).parent().addClass("item-toggle");
			$(this).parent().parent().fadeToggle(500, function() {
				$(this).toggleClass("item-toggle");
				$(this).remove();
			});
		});

        $(document).on("click", "#must-have-genre .available-block", function() {
            $(this).toggleClass("must-have-selected");
            index = $(this).index();
            $("#must-not-have-genre .row .generic-genre").eq(index).toggleClass("available-block");
        })

        $(document).on("click", "#must-not-have-genre .available-block", function() {
            $(this).toggleClass("must-not-have-selected");
            index = $(this).index();
            $("#must-have-genre .row .generic-genre").eq(index).toggleClass("available-block");
        })

        // Aggregate inputs and submit
        $("#submit-button").on("click", function() {
            let results = {"works": [], "authors": [], "required_genres": [], "excluded_genres": []};
            
            $('.book-item').each(function() {
                let book_dict = {};
                let id = $(this).attr("id");
                let scale = $(this).siblings(".rating").children("input").val().toString();
                book_dict[id] = scale;
                results["works"].push(book_dict);
            });

            $('.author-item').each(function() {
                let author_dict = {};
                let id = $(this).attr("id");
                let scale = $(this).siblings(".rating").children("input").val().toString();
                author_dict[id] = scale;
                results["authors"].push(author_dict);
            });

            let required_genres = $('#required-genre').val();
            $('.must-have-selected').each(function() {
                results["required_genres"].push($(this).html());
            });
            $('.must-not-have-selected').each(function() {
                results["excluded_genres"].push($(this).html());
            });

            // console.log(results);

            $.ajax({
                type: 'post',
                url: '/result',
                data: JSON.stringify(results),
                contentType: "application/json; charset=utf-8",
                traditional: true,
                success: function (data) {
                    sessionStorage.setItem('result',data);
                    console.log(data);
                    window.location.href = "/result";
                }
            });
        });
	</script>
</body>
</html>